In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# sns.set_style('darkgrid')
%matplotlib inline

In [11]:
col1 = np.random.randint(1,21, size=100).tolist()
col2 = np.random.randint(21,41, size=100).tolist()

In [16]:
df = pd.DataFrame({'col1': col1, 'col2': col2})
df.head()

   col1  col2
0     5    33
1    10    32
2    17    37
3    19    23
4     5    35